@import 'variables';

.card{
  border: 1px solid var(--border-color);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  .card-body{
    padding: var(--base-padding);
  }
}