@import 'variables';

.card{
  border: 1px solid var(--border-color);
  position: relative;
  min-width: 0;
  border-radius: var(--border-radius-card);
  background: var(--header-background-color);
  .card-body,
  &.card-body{
    padding: var(--padding-card-vertical) var(--padding-card-horizontal);
  }
  &.card-auth{
    @include min-width(md){
      width: 400px;
    }
    box-shadow: 0 0.525rem 5rem rgba(19, 180, 255, 0.75) !important;
  }

}
