.home-header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  padding: 2.5rem 1rem;
  @include min-width(hd){

  }
  h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    @include min-width(hd){
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
  min-height: 20vh;

  &.home-header__vs-background{
    color: var(--text-color);
    @include min-width(hd){
      background-size: contain;
      background-repeat: repeat-x, repeat-y;
    }
  }

  .home-header__w{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
