@import 'variables';
.section-details{
  display: flex;
  flex-direction: column;
  @include min-width(md){
    flex-direction: row;
  }
  p{
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    word-break: break-word;
  }
  .section-details__author{
    display: flex;
    column-gap: var(--grid-row-gap);
  }
  .section-details__author-image{
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color: var(--border-color);
  }
  .section-details__author-description{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    .section-details__author-title{
      font-weight: bold;
      display: inline-block;
    }
  }

  .section-details__title{
    flex: 1 0 30%;
    //max-width: 30%;
  }
  .section-details__content{
    flex: 2 0 70%;
    @include min-width(md) {
      max-width: 70%;
    }
  }
  .itinerary-dialog__image{
    max-height: 300px;
    text-transform: uppercase;
    font-size: 12px;
  }

  .itinerary-item__day-num{
    color: var(--text-color-secondary);

  }
  .itinerary-list__itinerary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--grid-row-gap);
    .itinerary-item__content{
      flex: 1 1 80%;
      @include min-width(md){
        flex: 2 1 75%;
      }
    }

    .itinerary-item__image-w{
      flex: 1 0 20%;
      @include min-width(md){
        flex: 1 0 25%;
      }
      .itinerary-item__image{
        @include min-width(md){
          border-radius: 0.5rem;
        }
        border-radius: 0.25rem;
      }
    }
  }

}

.details__show-contacts-button{
  border: none;
  background: var(--border-color);
  width: 100%;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}
