@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  @media (min-width: $grid-breakpoints-2k) {
    font-size: 15px !important;
  }
  @media (min-width: $grid-breakpoints-hd) {
    font-size: 15px !important;
  }
}

#app {
  font-family: var(--font-family-sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

body{
  margin: 0;
}

.header-padding{
  padding-top: var(--navbar-height);
}

.container{
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2rem;
  text-align: initial;
  @media screen and (min-width: $grid-breakpoints-hd) {
    max-width: $grid-width-hd;
  }
  @media screen and (min-width: $grid-breakpoints-2k) {
    max-width: $grid-width-2k;
  }
}
.container-100{
  width: 100%;
  padding: 0 2rem;
}


.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: calc( -1 * var(--grid-row-gap));
  margin-left: calc( -1 * var(--grid-row-gap));

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10,.col-11, .col-12{
    position: relative;
    width: 100%;
    padding-right: var(--grid-row-gap);
    padding-left: var(--grid-row-gap);
  }

  .col-1{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-6{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9{
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.center-items{
  display: flex;
  align-items: center;
}

.invert{
  color: white;
}
