@import 'variables';
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--header-backgroun-color);
  color: var(--text-color);
  z-index: 3000;
}
.header__left{
  height: 40px;
  .header__logo-img{
    height: 40px;
  }
}

#header{
  padding: 0 20px;
}
