$tapNavWidth: 200;
.tap-nav{
  display: flex;
  position: fixed;
  bottom: 0.5rem;
  left: 26%;
  width: 46%;
  height: var(--tap-nav-height);
  z-index: 2001;
  align-items: center;
  background-color: white;
  padding: 0.1rem;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.29) !important;
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .tap-nav__item{
    text-align: center;
  }

  .tap-nav__link{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    svg{
      fill: var(--text-color-secondary);
    }
    &.router-link-active{
      svg{
        fill: var(--primary-red);
      }
    }
    .tap-nav__item-title{
      font-size: 12px;
      font-weight: bold;
      color: var(--text-color-secondary);
    }
  }

}
