:root {
  --blue: #007cec;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66D9b;
  --red: #e3342f;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --light-gray: #f8f8f8;
  --gray-dark: #343a40;
  --primary: #007cec;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #e3342f;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #1d1d1d;
  --text-color: #1d1d1d;
  --focus-color: var(--primary);
  --btn-primary-color: #fff;
  --btn-primary-background-color: #1d1d1d;
  --btn-primary-border-color: #1d1d1d;
  --border-color: #f8f8f8;
  --border-color-dark: #e5e5e5;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-hd: 1800px;
  --breakpoint-2k: 2200px;
  --font-family-sans-serif: museo-sans-100, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --navbar-height: 80px;
  --grid-row-gap: 15px;
  --base-padding: 1rem;
  --base-border-radius: 1rem;
  --header-backgroun-color: white;
}

$grid-breakpoints-hd: 1800px;
$grid-width-hd: 1600px;
$grid-breakpoints-2k: 2200px;
$grid-width-2k: 2180px;
